*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}
body{
    background:#1c1b29;
}
section{
    min-height: 90vh;
    max-width: 380px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding:22px 20px;
}

section .menu-title{
    color: #d8d7dc;
    margin-top: 40px;
}

section .menu{
    display: flex;
    width: 100%;
    height: 100px;
}

section .menu .item{
    width: 33.33%;
    color:#d8d7dc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

section .menu .item .dish{
    border-bottom: 2px solid #7555f5;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

form{
    color: #d8d7dc;
    padding:30px;
    width: 100%;
    background:#292841;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

form input,h1{
    margin-bottom: 20px;
}

form input{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5) inset;
    border:none;
    outline:none;
    border-radius: 5px;
    height: 40px;
    background-color: #1c1b29;
    padding:10px;
    color:#ddd;
    font-size: 20px;
}

form button{
    background-color: #7555f5;
    border:none;
    color: #fff;
    padding:8px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

footer{
    color:#fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-family: monospace;
    font-size: 17px;
}

input::placeholder{
    color:#969696;
    font-size: 16px;
}